body {
background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form-bg {
    border: solid 3px #333333;
    border-radius: 10px;
}

input,
textarea {
    border: solid 1px #333333;
    border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid #4B79A1;
    outline: none;
}